<a href="https://colab.research.google.com/github/maggiejohnson20/DataProcessingAndVisualization/blob/main/Exam2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exam 2 
Maggie Johnson
CMPMA-4313

##Question 1

Let's start the Exam 2 by listing the libraries that we need to use and pull the dataframe.

In [15]:
import pandas as pa
import numpy as np
import re

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')

df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [16]:
df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

For part b, we need to remove the columns that repeats the indexes and is 'unnamed' 

In the code below, drop means to delete

In [17]:
df2 = df.drop('Unnamed: 0', axis =1) 

df2

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,NaN,28.66,173.30,234.73,NaN,NaN,NaN,133.5,175.0,92,22,20,15,21,61
996,2022-02-14,Freestyle,9.48,61,219,NaN,9.23,114.34,109.32,NaN,NaN,NaN,103.0,122.0,84,18,28,2,17,86
997,2022-02-14,Freestyle,3.30,40,169,NaN,7.37,133.97,122.96,NaN,NaN,NaN,114.5,122.0,107,18,28,2,23,98
998,2022-02-14,Indoor Cycling,4.40,47,52,NaN,10.75,147.65,116.51,NaN,NaN,NaN,96.0,90.0,102,45,32,0,13,57
999,2022-02-14,Indoor Cycling,1.57,116,106,NaN,25.37,143.41,182.80,NaN,NaN,NaN,96.5,90.0,103,14,32,0,24,83

For part c, we need to clean up the column names. Let's get rid of the unit declaration!

In the code below, lamba helps us remove the unit declaration.

In [18]:
df2 = df.rename(columns = lambda x: re.sub(r'((.%))' ,'' ,x))

df2.columns

Index(['Unnamed: 0', 'activity_day', 'workout_type', 'distance', 'time',
       'calories', 'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence',
       'avg_pace', 'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max)', 'aerobic)', 'anaerobic)', 'intensive)',
       'light)'],
      dtype='object')

Since we have that figured out, we need to start on part d, which is converting activity_day column into a dataframe format.

The code below first gave us the data type and we can use that to covert the activity!

In [19]:
df2.activity_day.dtypes

dtype('O')

In [20]:
df2.activity_day = pa.to_datetime(df2.activity_day)
df2.activity_day.dtypes

dtype('<M8[ns]')

Now we need to focus on part e of the exam! In this part we need to impute the total_steps, get rid of all of the NaN's by replacing it with appropriate number of steps. Then covert it like we did in the steps above.

To do that, we use the fillna a function to replace the NaN's with the minimum number of steps.

In [21]:
df2.total_steps.fillna(value=df.total_steps.min(), inplace = True)

df2.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max),aerobic),anaerobic),intensive),light)
0,0,2022-01-01,Freestyle,9.30,77,123,1571.0,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,1571.0,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,1571.0,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,1571.0,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

For part F, we need to convert the nonempty 'avg-pace' into a float

In [22]:
df2.avg_pace = df2.avg_pace.fillna(0)

df2.info

<bound method DataFrame.info of      Unnamed: 0 activity_day    workout_type  distance  time  calories  \
0             0   2022-01-01       Freestyle      9.30    77       123
1             1   2022-01-01       Freestyle      3.44    96        55
2             2   2022-01-01  Indoor Cycling      6.34    85        33
3             3   2022-01-01         Walking      7.91    42        82
4             4   2022-01-01      Open Water      8.99    36       131
..          ...          ...             ...       ...   ...       ...
995         995   2022-02-14   Pool Swimming      6.92   101       313
996         996   2022-02-14       Freestyle      9.48    61       219
997         997   2022-02-14       Freestyle      3.30    40       169
998         998   2022-02-14  Indoor Cycling      4.40    47        52
999         999   2022-02-14  Indoor Cycling      1.57   116       106

     total_steps  avg_speed  avg_cadence  max_cadence  ... max_pace min_pace  \
0         1571.0      18.88       168.54       138.30  ...      NaN      NaN
1         1571.0      29.65       125.92       292.81  ...      NaN      NaN
2         1571.0      17.85        81.93       323.69  ...      NaN      NaN
3         1571.0      22.10        29.63       180.16  ...    28:58    07:58
4         1571.0      25.83        64.55       342.89  ...      NaN      NaN
..           ...        ...          ...          ...  ...      ...      ...
995       1571.0      28.66       173.30       234.73  ...      NaN      NaN
996       1571.0       9.23       114.34       109.32  ...      NaN      NaN
997       1571.0       7.37       133.97       122.96  ...      NaN      NaN
998       1571.0      10.75       147.65       116.51  ...      NaN      NaN
999       1571.0      25.37       143.41       182.80  ...      NaN      NaN

    avg_heart_rate  max_heart_rate  min_heart_rate  vo2_max)  aerobic)  \
0            112.5           122.0             103        19        28
1            111.0           122.0             100        42        28
2             95.0            90.0             100         1        32
3             83.0            85.0              81         3        22
4            138.0           166.0             110         7         0
..             ...             ...             ...       ...       ...
995          133.5           175.0              92        22        20
996          103.0           122.0              84        18        28
997          114.5           122.0             107        18        28
998           96.0            90.0             102        45        32
999           96.5            90.0             103        14        32

     anaerobic)  intensive)  light)
0             2           7      50
1             2          29      88
2             0          22      43
3             0          24      65
4             5          21      88
..          ...         ...     ...
995          15          21      61
996           2          17      86
997           2          23      98
998           0          13      57
999           0          24      83

[1000 rows x 21 columns]>

For part G, let's find the mean, median, count, and standard deviation of the workout_time.

In [23]:
df2.groupby('workout_type').calories.agg(['mean','median','count', 'std'])

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

For part H, let's indicate whether the activity 30% or more aerobic

In [27]:
df2 = df2.loc[df2['max_cadence'] == df2['max_cadence'].max()]
print('day_of_week = Tuesday' )
print('workout_type = ' + df2.workout_type.iloc[0])
print('maximum_cadence = ' + str(df2['max_cadence'].max()))

day_of_week = Tuesday
workout_type = Pool Swimming
maximum_cadence = 349.78

# Part 2

1. It took me approximately 4 hours to work on the exam.

2. The hardest part of the section was working with Lamba. The easiest part was finding the mean, median, count, and standard deviation.

3. I think the way that you teach is the easiest to understand but maybe a little more with numpy.

# References

https://github.com/maggiejohnson20/DataProcessingAndVisualization

https://github.com/nurfnick/Data_Viz


“I attest that the resources above were the only ones utilized in completing
the exam and the work included is my own and no one else from the course.”