<a href="https://colab.research.google.com/github/maggiejohnson20/DataProcessingAndVisualization/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I need to do this in order to make sure that the account is connected.

In [2]:
#Authenticating my account
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Below, I wanted to take a look at the entire query. 
**Make sure to always label the project before every new cell block.**

In [3]:
%%bigquery --project dataprocessingvisualization
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

            trip_id  ... duration_minutes
0        9900289692  ...               39
1        9900285987  ...               31
2        9900285989  ...               31
3        9900285991  ...               30
4        9900286140  ...               19
...             ...  ...              ...
1424781    23536417  ...               63
1424782    22837019  ...               68
1424783    20400249  ...               58
1424784    23184844  ...               40
1424785    23184851  ...               40

[1424786 rows x 9 columns]

For this assignment, one part is to find the average time of the trips that are based off of the starting points.

In [4]:
%%bigquery --project dataprocessingvisualization

SELECT AVG(duration_minutes) as avg_time, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

GROUP BY start_station_name
Order by avg_time

       avg_time          start_station_name
0      6.800000                        Shop
1      9.750000  Mobile Station @ Unplugged
2     11.810289                 Main Office
3     13.494125        Dean Keeton & Whitis
4     13.893964                22nd & Pearl
..          ...                         ...
188  105.000000                      Stolen
189  114.000000       cesar Chavez/Congress
190  126.739316              17th/Guadalupe
191  132.333710                  6th/Lavaca
192  197.470588           East 5th/Shady Ln

[193 rows x 2 columns]

Once we've figured that out, it's time to figure out the next part of the assignment. We need to figure out how many number of trips were taken at each start stations.

In [5]:
%%bigquery --project dataprocessingvisualization

SELECT COUNT(start_station_name) as No_Trip, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

GROUP BY start_station_name
Order by No_Trip

     No_Trip          start_station_name
0          1                      Stolen
1          1               Eeyore's 2017
2          1       cesar Chavez/Congress
3          2               Eeyore's 2018
4          4  Mobile Station @ Unplugged
..       ...                         ...
188    34758        Rainey St @ Cummings
189    35307              2nd & Congress
190    36520    City Hall / Lavaca & 2nd
191    40635        Riverside @ S. Lamar
192    72799        21st & Speedway @PCL

[193 rows x 2 columns]